<!DOCTYPE html>
<html>
<head>
    <title>Logs do Sistema</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Logs do Sistema</h1>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Ação</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Mensagem</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.Usuario }}</td>
                            <td>{{ log.Ação }}</td>
                            <td>{{ log.Data }}</td>
                            <td>{{ log.Status }}</td>
                            <td>{{ log.Mensagem }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
