<!DOCTYPE html>
<html>
<head>
    <title>Controle do Robô</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Controle do Robô</h1>

            <!-- Campo para inserir a taxa -->
            <div class="field">
                <label class="label">Taxa de Movimentação</label>
                <div class="control">
                    <input class="input" type="number" step="0.1" id="taxaMovimentacao" value="1.0">
                </div>
            </div>

            <!-- Botões para Movimentação Livre -->
            <div class="buttons">
                <button class="button" onclick="enviarComando('X')">X</button>
                <button class="button" onclick="enviarComando('Y')">Y</button>
                <button class="button" onclick="enviarComando('Z')">Z</button>
                <button class="button" onclick="enviarComando('R')">R</button>
            </div>

            <!-- Botões para Controle do Atuador -->
            <div class="buttons">
                <button class="button" onclick="enviarComandoAtuador('On')">Ativar Atuador</button>
                <button class="button" onclick="enviarComandoAtuador('Off')">Desativar Atuador</button>
            </div>

            <div id="resultado"></div>
        </div>
    </section>

    <script>
        function enviarComando(direcao) {
            var taxa = document.getElementById('taxaMovimentacao').value;
            htmx.ajax('POST', '/movimentacaoLivre/' + direcao + '/' + taxa, {target: '#resultado'});
        }

        function enviarComandoAtuador(estado) {
            htmx.ajax('POST', '/atuador/' + "suck" + '/' + estado, {target: '#resultado'});
        }
    </script>
</body>
</html>
